# This confidential and proprietary software may be used only as
# authorised by a licensing agreement from Arm Ltd.
#   Copyright: 2020 - 2022 Arm Ltd. All Rights Reserved.
# The entire notice above must be reproduced on all authorised
# copies and copies may only be made to the extent permitted
# by a licensing agreement from Arm Ltd.

Checks: -*,
        clang-analyzer-*,
        clang-diagnostic-*,
        bugprone-*,
        cert-*,
        cppcoreguidelines-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -bugprone-easily-swappable-parameters,
        -clang-analyzer-osx*,
        -readability-uppercase-literal-suffix,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-type-vararg,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic
FormatStyle:         file
CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:           '0'
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
